header, nav, main, footer {
    display: block;
}


header {
    background-color: lightgreen;
    text-shadow: 2px 2px 2px gray;
    font-family: Arial, "Times New Roman", sans-serif;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    margin-bottom:5px;
    width: 1024px;
    text-align: center;
}


body {
    background-image: url("images/background.jpg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    background-color: lightgreen;
    font-family: Arial, "Times New Roman", sans-serif;
    width: 1024px;
    padding-top:5px;
    padding-bottom:5px;
}






footer {
    background-color: lightgreen;
    font-family: Arial, "Times New Roman", sans-serif;
    margin-top: 5px;
    padding-top: 5px;
    width: 1024px;
    text-align: center;
}


.formspace {
    margin-bottom: 20px;
}





img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}


table {
    border-style: solid;
    border: 2px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    padding: 10px;
    border: 1px;
    border-color: darkblue;
    border-style: solid;
}










form {
    text-align: center;
    padding-right: 205px;
    padding-left: 205px;
    padding-bottom: 80px;
    padding-top: 80px;
}




#space {
    margin-left: 5px;
}


#wrapper {
    color: black;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    min-width: 700px;
    max-width: 1024px;
}

#addlink {
    text-shadow: 2px 2px 2px gray;
    font-family: Arial, "Times New Roman", sans-serif;
    font-size: 30px;
}



@media (max-width: 720px) {

    body {
        background-image: url("images/background2.gif");
        background-repeat: repeat;
        background-position: center;
        background-attachment: fixed;
    }
}